@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "All Products";
}
<title>MPOS-All Products</title>

<div class="page-body">

    @if (!string.IsNullOrEmpty(ViewBag.Info))
    {
        <div class="alert alert-info">
            <strong>@ViewBag.Info</strong>
            <a class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close" style="float:right!important"><i class="bi bi-x-circle-fill"></i></a>
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.error))
    {
        <div class="alert alert-danger">
            <strong>@ViewBag.Error</strong>
            <a class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close" style="float:right!important"><i class="bi bi-x-circle-fill"></i></a>
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>All Products</h5>

                    <hr />
                    <a class="btn btn-primary mb-4" asp-action="Product" asp-controller="Product"><i class="bi bi-plus-circle-fill"></i> Create</a>

                    <div class="table-responsive pl-3 pr-3 ps-0">
                        <table id="dataTable" class="table table-striped" style="width:100%;">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Action</th>
                                    <th>Photo</th>
                                    <th style="text-align:center;">Product Id</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Cost Price</th>
                                    <th>Selling Price</th>
                                    <th>Unit</th>
                                    <th style="text-align:center;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td style="display: flex; justify-content: center; align-items: center;">
                                            <a class="btn btn-outline-primary p-2 mt-2" style="border-radius:5px; display: flex; justify-content: center; align-items: center;" asp-action="Product" asp-route-id="@product.Id">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                        </td>

                                        <td>
                                            @if (string.IsNullOrEmpty(product.Photo))
                                            {
                                                <img class="img-50 rounded-top rounded-bottom img-fluid " src="~/DefaultImage/no_image_300.png" />
                                            }else
                                            {
                                                <div class="rounded-top rounded-bottom" style=" box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); border:solid 0.7px green; border-radius:8px; width:50px; height:50px; display: flex; justify-content: center; align-items: center;">
                                                    <img class="img-fluid p-1" src="https://localhost:7207/resources/@product.Photo" style="align-content: center;" />
                                                </div>
                                            }
                                        </td>
                                        <td style="text-align:center;">@product.Id</td>
                                        <td>@product.Name</td>
                                        <td>@product.Category</td>
                                        <td>@product.CostPrice.ToString("C2")</td>
                                        <td>@product.SellingPrice.ToString("C2")</td>
                                        <td>@product.Unit</td>
                                        <td style="text-align:center;" class="status-label">
                                           @*  <button class="btn btn-info" style="border-radius:8px; cursor:auto; height:30px; text-align:center; padding-left:20px; padding-right:20px; padding-top:1px; padding-bottom:1px;">In Stock</button> *@
                                            <div style="min-width:auto; height:2rem; align-items:center; border-radius:8px; justify-content:center; background-color:rgb(44, 62, 80)">
                                              <span style="padding:5px; text-align:center; color:white;">In Stock</span>
                                           </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <hr />

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    td{
        align-content:center;
    }
</style>


<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

<script>
    $(document).ready(function() {
        $('#dataTable').DataTable({
            responsive: true,
            searching: true,
            paging: true
        });
    });
</script>
