@using System.Collections
@model MPOS.WebMVC.ModelsDTO.Dashboard

@{
    ViewData["Title"] = "Dashboard";
    int index = 1;
}
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Dashboard</h5>
                    <hr />

                    <div class="row">

                        <div class="col-lg-3 col-xl-3 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 style="white-space:pre-wrap;"><i class="bi bi-bar-chart-fill"></i>  Total Onboard</h5>
                                </div>
                                <div class="card-body">
                                    <p style="font-size:36px; font-weight:bold; color:dimgrey; ">$ 307,098.0</p>
                                    <span>5% from last month</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-xl-3 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 style=" white-space:pre-wrap;"><i class="bi bi-bookmark-dash-fill"></i> Total Revenue</h5>
                                </div>
                                <div class="card-body">
                                    <p style="font-size:36px; font-weight:bold; color:dimgrey; ">$ 277,460.0</p>
                                    <span>15% from last month</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-xl-3 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 style=" white-space:pre-wrap;"><i class="bi bi-currency-exchange"></i> Total Sold Products</h5>
                                </div>
                                <div class="card-body">
                                    <p style="font-size:36px; font-weight:bold; color:dimgrey; white-space:pre-wrap;">  375,609.0</p>
                                    <span>42% from last month</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-xl-3 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 style=" white-space:pre-wrap;"><i class="bi bi-cart-check-fill"></i>  Purchase Today</h5>
                                </div>
                                <div class="card-body">
                                    <p style="font-size:36px; font-weight:bold; color:dimgrey; white-space:pre-wrap;" white-space:pre-wrap;>  510.0</p>
                                    <span>70% from last month</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr />

                    <div class="row">

                        <div class="col-lg-7 col-xl-7 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 style="white-space:pre-wrap;"><i class="bi bi-speedometer"></i> Graph Analysis</h5>
                                            <div class="card-header-right">
                                                <i class="icofont icofont-rounded-down"></i>
                                                <i class="icofont icofont-refresh"></i>
                                                <i class="icofont icofont-close-circled"></i>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-lg-6 col-xl-6 col-sm-12 col-12">
                                                    <canvas id="lineChart" style="width:100%;max-width:600px"></canvas>
                                                </div>

                                                <div class="col-lg-6 col-xl-6 col-sm-12 col-12">
                                                    <canvas id="doughnutChart" style="width:100%;max-width:600px"></canvas>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 style="white-space:pre-wrap;"><i class="bi bi-ui-checks"></i>  Best Selling Products</h5>
                                            <div class="card-header-right">
                                                <i class="icofont icofont-rounded-down"></i>
                                                <i class="icofont icofont-refresh"></i>
                                                <i class="icofont icofont-close-circled"></i>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive pl-3 pr-3 ps-0">
                                                <table id="dataTableTopSaleProducts" class="table table-striped" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center;">No.</th>
                                                            <th style="text-align:center;">InvoiceId</th>
                                                            <th>Product Name</th>
                                                            <th>Category Name</th>
                                                            <th>Quantity</th>
                                                            <th>Total Price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var product in Model.TopProducts!)
                                                        {
                                                            <tr>
                                                                <td style="text-align:center;">@index</td>
                                                                <td>@product.InvoiceId</td>
                                                                <td>@product.ProductName</td>
                                                                <td>@product.Category</td>
                                                                <td>@product.Quantity.ToString("#,###.0")</td>
                                                                <td>@product.TotalPrice.ToString("C2")</td>
                                                            </tr>
                                                            index++;
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-xl-5 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 style="white-space:pre-wrap;"><i class="bi bi-star-fill"></i>  Top Employee</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive pl-3 pr-3 ps-0">
                                        <table id="dataTableTopEmployees" class="table table-striped" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">No.</th>
                                                    <th>Employee Id</th>
                                                    <th>Employee Name</th>
                                                    <th>Phone</th>
                                                    <th>Total Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var employee in Model.TopEmployees!)
                                                {
                                                    <tr>
                                                        <td style="text-align:center;">@index</td>
                                                        <td>@employee.EmployeeId</td>
                                                        <td>@employee.EmployeeName</td>
                                                        <td>@employee.Phone</td>
                                                        <td>@employee.TotalAmount.ToString("C2")</td>
                                                    </tr>
                                                    index++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <span></span>
                            </div>
                        </div>

                    </div>
                    <hr />

                </div>
            </div>
        </div>
    </div>
</div>

@*Graph*@
<script>
    const xValuesL = [50,60,70,80,90,100,110,120,130,140,150];
    const yValuesL = [7,8,8,9,9,9,10,11,14,14,15];

    new Chart("lineChart", {
      type: "line",
      data: {
        labels: xValuesL,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValuesL
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
</script>

<script>
    var xValuesD = ["Italy", "France", "Spain", "USA", "Argentina"];
    var yValuesD = [55, 49, 44, 24, 15];
    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];

    new Chart("doughnutChart", {
      type: "doughnut",
      data: {
        labels: xValuesD,
        datasets: [{
          backgroundColor: barColors,
          data: yValuesD
        }]
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018"
        }
      }
    });
</script>


<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>


<script>
    $(document).ready(function() {
        $('#dataTableTopSaleProducts').DataTable({
            responsive: true,
            searching: true,
            paging: true,
            lengthMenu: [
            [5, 10, 20, -1],
            [5, 10, 15, 'All']
        ]
        });
        
        $('#dataTableTopEmployees').DataTable({
            responsive: true,
            searching: true,
            paging: true,
            lengthMenu: [
            [12, 15, 20, -1],
            [12, 20, 50, 'All']
        ]
        });
    });
</script>
